include ./partials/_admin_head.pug
include ./partials/_admin_header.pug
body
	.side_section
		if user.permissions.length > 0
			if user.permissions[0].manage_collections
				a(href="/admin/collections")
					h2 Collections
			if user.permissions[0].manage_posts
				a(href="/admin/posts")
					h2 Posts
			if user.permissions[0].manage_users
				a(href="/admin/users")
					h2 Users
			

	.main_section
		block content

	script(src='/static/js/admin/popup.js')
	script(src='/static/js/admin/form.js')
	script(src='/static/js/admin/forminfo.js')
	script(src='/static/js/admin/admin.js')

	case admin_script
		when 'posts'
			script(src='/static/lib/summernote/summernote.js')
			script(src='/static/js/admin/image_uploader.js')
			script(src='//code.jquery.com/ui/1.12.1/jquery-ui.js')
			script(src='/static/lib/content_blocks/content_blocks.js')
			script(src='/static/js/awesomplete.min.js')
			script(src='/static/js/admin/post_filter.js')
			script(src='/static/js/admin/admin_posts.js')
		when 'users'
			script(src='/static/js/admin/admin_users.js')
		when 'collections'
			script(src='/static/js/awesomplete.min.js')
			script(src='/static/js/admin/admin_collections.js')
		when 'visitors'
			script(src='/static/js/admin/admin_visitors.js')
