extends ./layout.pug
block content

	//- .container 
	//- 	section#homepage
	//- 		h1 Home page
	//- 		ul.list
	//- 			each post in posts
	//- 				li
	//- 					a(href="/posts/" + `${post.slug}`) #{post.title}

