* {
	box-sizing: border-box;
}

body {
	background: #fef1dc;
}

h1, h2, h3 {
	font-family: 'Baloo Thambi', cursive;
}

p, li, input, button, a {
	font-family: 'Nunito', sans-serif;
}

a {
	color: auto;
}

img {
	width: 100%;
}

.btn {
	background: #2f416d;
    color: #fff;
}

.btn:hover {
	color: #fff;
	opacity: 0.8;
}

label {
    width: 140px;
    font-size: 16px;
    vertical-align: top;
}

.awesomplete {
    display: block;
}

.awesomplete ul {
    display: block !important;
    width: 100%;
}

.awesomplete ul li {
    display: block !important;
    width: 100% !important;
}

/* dry classes */

.delbtn {
	cursor: pointer;
}

.delbtn:hover {
	background: #dee;
}

.list {
	list-style: none;
	padding: 0px;
}

.toggleBox {
    margin-bottom: 10px;
}

.toggleBox label {
    width: auto !important;
    margin-right: 10px;
}

.toggleBox #cb_toggle {
    width: auto;
}

.img_natural {
    width: auto;
    max-width: 100%;
}

header {
	background: #2d2d2d;
	padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header h1 {
	display: inline-block;
    color: #fff;
    margin: 0px;
}

header .list {
    display: inline-block;
    margin: 0px;
    float: right;
}

header .list li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

header .list li a {
    display: inline-block;
    padding: 5px;
    color: #fff;
}


#logout_btn {
    float: right;
    font-size: 18px;
    background: rgb(255, 255, 255);
    display: inline-block;
    padding: 7px 15px;
    color: #000;
}

.side_section {
	/*width: 300px;*/
    width: 15%;
    min-height: 1000px;
    float: left;
    background: #334369;
    padding: 60px 15px 15px 15px;
    position: fixed;
}

.side_section a {
	color: #c7cfe0;
}

.main_section {
    padding: 70px 40px 40px 40px;
	float: right;
	background: #fff;
	/*width: calc(100% - 300px);*/
    width: 85%;
	min-height: 1000px;
}

.main_section h1 {
	border-bottom: solid 4px;
}

.main_section .addnew {
	margin-top: 20px;
}

.entity_list {
	padding-right: 10px;
}

.entity_list > li {
	background: #ddd;
	padding: 0px 10px;
}

.entity_list > li:nth-child(even){
	background: #cccccc;
}

.entity_list li a {
	/*background: #ddd;*/
	padding: 10px;
	display: inline-block;
	font-weight: bold;
}

.filter {
	margin: 20px 0px 10px 0px;
	padding: 5px;
	width: 400px;
}

.form {
	margin-top: 30px;
}

.form ul li {
	margin-bottom: 10px;
    overflow: hidden;
}

.form .btn {
 	margin-top: 0px;
}

.form label {
	width: 33%;
}

.form input,
.form select {
    width: 66%;
}

#error_box,
.error_box {
    margin-top: 20px;
    background: #eee;
    border-left: solid 4px #d81515;
    padding: 10px;
    font-weight: bold;
    display: none;
}

#successBox,
.success_box {
	margin-top: 20px;
    background: #eee;
    border-left: solid 4px #68e468;
    padding: 10px;
    font-weight: bold;
    display: none;
}

.invalid {
	border: solid 1px red;
}

.operations {
	float: right;
}

.operations li {
	display: inline-block;
	padding: 0px 10px;
}

.operations li span {
    display: inline-block;
    padding: 4px;
    border: solid 2px #c5c5c5;
    border-radius: 5px;
    margin-top: 4px;
}

/* business edit page */

#delete_btn {
    margin-left: 10px;
    background: #bb3838;
}

.expand_select_p {
	text-align: right;
    padding: 10px;
}

/* Modal */

.c_modal {
	background: rgba(0,0,0,0.8);
	z-index: 1;
	width: 100%;
	height: 1000px;
	display: block;
	position: fixed;
	top: 0px;
}

.c_modal .box {
    background: #fff;
    /* position: absolute; */
    width: 600px;
    margin: 100px auto;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

/* Post Page */

.postForm input {
	width: 100%;
	padding: 5px;
}

.post_section_menu li {
	display: inline-block;
    background: #b9ceff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 18px;
    border: solid 2px #8eabef;
    margin-right: 15px;
    cursor: pointer;
}

#post_list {
    overflow: hidden;
}

#post_list li {
    width: 31%;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    padding: 10px;
}

#post_list li .imgBox {
    height: 250px;
    overflow: hidden;
}

/*#post_list li .imgBox {
    
}*/

.addcatbox {
    border: solid 2px#7081ab;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;
}

.addcatbox input {
    font-size: 16px;
    margin-bottom: 5px;
}

.addcatbox button {
	font-size: 16px;
}

.expand_addcatbox {
	margin-top: 0px !important;
	margin-bottom: 10px !important;
}

/*#cats_err,
#cats_success {
    margin-left: 20px;
}
*/
.categories {
	margin-top: 10px;
}

.categories > li {
    border-bottom: solid 1px #ccc;
    padding: 0px 0px 5px 0px;
}

.categories input,
.categories label {
	width: auto;
	vertical-align: middle;
	margin: 0px;
}

.categories label {
	margin: 0px 0px 0px 10px;
	vertical-align: middle;
}

.categories ul {
	display: inline-block;
    float: right;
}

.categories ul li {
	display: inline-block;
	margin-right: 10px;
}

/* Featured img */

#featImg_container {
	position: relative;
}

#remove_img {
	position: absolute;
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    padding-top: 20px;
    display: none;
    cursor: pointer;
}

#featImg_container:hover > div {
	display: block;
}

/* Content Blocks */

#cb {
    display: none;
}

.contentBlock {
    background: #eaeaea;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    border: solid 1px #d2d2d2;
    cursor:all-scroll;
}

.contentBlock h4 {
    margin-top: 5px;
    width: calc(100% - 50px);
    float: left;
}

.contentBlock .remove {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #8c8c8c;
    border-radius: 100%;
    text-align: center;
    float: right;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.contentBlock .remove:hover {
    background: #000;
}

.contentBlock textarea {
    width: 100%;
    max-width: 100%;
    min-height: 110px;
    padding: 10px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.contentBlock img {
    width: auto;
    max-width: 100%;
}

.htmlEdit {
    background: #222;
    color: #ddd;
}

/* Users */

.isadmin {
    margin-left: 15px;
    display: inline-block;
    color: #3c7546;
}

#q_admin,
#q_changepassword {
	width: auto;
}

#permissionsBox,
#passwordBox {
	border-top: solid 3px #b0b0d2;
    margin-top: 10px;
    display: none;
}

#permissionsBox input {
	width: auto;
    margin-right: 15px;
}

#passwordBox {
	padding: 20px;
}

#passwordBox input {
	margin-bottom: 10px;
	width: 300px;
	display: block;
}

#spin {
    display: none;
    width: 30px;
}

/* zmot styles */

#filter_list {
    margin-top: 20px;
}

#filter_list li {
    display: inline-block;
    margin-right: 2%;
    width: 23%;
}

#filter_list li input {
    width: 100%;
    margin-top: 10px;
}

#postspin {
    display: none;
    width: 40px;
    position: absolute;
}

.taxLis {
    list-style: circle !important;
    padding-left: 20px;
}

.taxLis li {
    margin: 5px 0px;
    font-size: 18px;
}

#posts_search {
    display: inline-block;
    padding: 5px;
    width: 300px;
    float: left;
}

#add_collection_post {
    display: inline-block;
    padding: 0px 10px;
    font-size: 24px;
    font-weight: bold;
    background: #616161;
    vertical-align: top;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#add_collection_post:hover {
    background: #000;
}

#collectionPostList li {
    padding: 10px;
}

#collectionPostList li .delBtn {
    background: #616161;
    padding: 0px 10px;
    font-weight: bold;
    margin-right: 15px;
    color: #fff;
    cursor: pointer;
}

.collectionPostsCont .awesomplete ul {
   /*margin-top: 42px !important;*/
    margin-top: 33px !important;
}

.collectionPostsCont .awesomplete {
    display: inline-block !important;
}

.collectionPostsCont .awesomplete ul {
    display: inline-block !important;
    width: auto;
}

.collectionPostsCont .awesomplete ul li {
    display: inline-block !important;
    width: 100% !important;
}

#collectionList {
    margin-top: 20px;
}

#collection_list li {
    display: inline-block;
    width: 20%;
    padding-right: 10px;
}

#collection_list li label {
    width: 100%;
    text-align: center;
}

#post_list .delBtn {
    background: #000;
    color: #fff;
    width: 20px;
    display: inline-block;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    margin-bottom: 10px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

.main_section .description {
    margin-top: 20px;
}